body {
  background: #101010;
  margin: 0;
}

.main {
  width: 100%;
  height: max-content;
  padding-top: 90px;
  background: #101010;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: inline-flex;
}

.content {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 90px;
  display: inline-flex;
}

.intro {
  width: 578px;
  text-align: center;
}

.card {
  margin-top: 72px;
  margin-bottom: 100px;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: black;
  border-radius: 5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 0 600px 100px #7b61ff78;
}

.card-content {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
  display: inline-flex;
}

.subscription-info {
  width: 460px;
  text-align: center;
  padding-bottom: 36px;
}

.buttons {
  justify-content: center;
  align-items: center;
  gap: 16px;
  display: inline-flex;
}

.button-subscribe {
  padding-left: 8em;
  padding-right: 8em;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  background: #7b61ff;
  border-radius: 3em;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: flex;
}

.subscribe {
  text-align: center;
  color: white;
  font-size: 32px;
  font-family: 'Inter', sans-serif;
  font-weight: 550;
  word-wrap: break-word;
}

.footer {
  width: 512px;
  text-align: left;
  padding-left: 32px;
  padding-right: 32px;
}